#divA{
background-color: red;
width: 50px;
height: 50px;
border-style: solid;
border-width: 2px;
border-color: green;
margin-top: 100px;
}

#divB{
background-color: black;
width: 50%;
height: 50vh;
float: left;
border-style: dashed;
border-width: 10px;
border-color: red;
margin-top: 100px;
margin-left: 100px;
}